/python-classes/__pycache__
/python-more_classes/__pycache__
python-input_output/__pycache__/0-read_file.cpython-312.pyc
/python-input_output/__pycache__
/python-input_output/tests/__pycache__
python-input_output/tests/__pycache__/0-main.cpython-312.pyc
/python-input_output/tests/__pycache__
*.pyc
